a{
    cursor: pointer;
}

.collapsed{
    height: 0;
}

.collapsed li{
    display: none;
}

.elementor-145 .elementor-element.elementor-element-cef0c38 .elementor-nav-menu--main .elementor-item {
    color: #fff !important;
    fill: #fff;
    padding-left: 0;
    padding-right: 0;
}

.elementor-145 .elementor-element.elementor-element-2ce79a36 .elementor-nav-menu--dropdown a:hover, .elementor-145 .elementor-element.elementor-element-2ce79a36 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-145 .elementor-element.elementor-element-2ce79a36 .elementor-nav-menu--dropdown a.highlighted {
 
    color: white !important;
   
}
.x-logo {
    width: 80%; /* Adjust size as needed */
  height:auto; /* Adjust size as needed */
    transition: opacity 0.3s ease; /* Smooth transition */
    margin-top: -44%;
  }
/* .x-logo:hover {
    content: url('../assets/icons/twitter-white.png');
  } */