<main id="content" class="site-main post-332 page type-page status-publish hentry">

  <div class="page-content">
    <div data-elementor-type="wp-page" data-elementor-id="332" class="elementor elementor-332"
      data-elementor-post-type="page">
      <div
        class="has_ae_slider elementor-element elementor-element-466ad3d e-flex e-con-boxed ae-bg-gallery-type-default e-con e-parent"
        data-id="466ad3d" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}"
        data-core-v316-plus="true">
        <div class="e-con-inner">
          <div class="elementor-element elementor-element-0016494 elementor-widget elementor-widget-heading"
            data-id="0016494" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.19.0 - 07-02-2024 */
                .elementor-heading-title {
                  padding: 0;
                  margin: 0;
                  line-height: 1
                }

                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                  color: inherit;
                  font-size: inherit;
                  line-height: inherit
                }

                .spinner-border {
                  margin-left: 10px;
                }

                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                  font-size: 15px
                }

                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                  font-size: 19px
                }

                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                  font-size: 29px
                }

                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                  font-size: 39px
                }

                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                  font-size: 59px
                }
              </style>
              <h1 class="elementor-heading-title elementor-size-default">Investor
                Area</h1>
            </div>
            <div style="padding-top: 20px;"></div>
            <div>
              <iframe width="1140" height="641" src="https://www.youtube.com/embed/KUyivhfPWCM"
                title="Introduction to edYOU" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
          <!-- <div
            class="elementor-element elementor-element-1b7f741 elementor-invisible elementor-widget elementor-widget-video"
            data-id="1b7f741" data-element_type="widget"
            data-settings="{&quot;youtube_url&quot;:&quot;https:\/\/youtu.be\/KUyivhfPWCM&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;video_type&quot;:&quot;youtube&quot;,&quot;controls&quot;:&quot;yes&quot;}"
            data-widget_type="video.default">
            <div class="elementor-widget-container">
              <style>
              </style>
              <div class="elementor-wrapper elementor-open-inline">
                <div class="elementor-video"></div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div
        class="has_ae_slider elementor-element elementor-element-5fdff2e bottom-p e-flex e-con-boxed ae-bg-gallery-type-default e-con e-parent"
        data-id="5fdff2e" data-element_type="container" id="signin"
        data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
        <div class="e-con-inner">
          <div
            class="has_ae_slider elementor-element elementor-element-475ef91 e-con-full e-flex ae-bg-gallery-type-default e-con e-child"
            data-id="475ef91" data-element_type="container"
            data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
            <div class="elementor-element elementor-element-3bfbef8 elementor-widget elementor-widget-heading"
              data-id="3bfbef8" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">Request
                  Access</h2>
              </div>
            </div>
          </div>
          <div
            class="has_ae_slider elementor-element elementor-element-3b0ebc8 e-con-full e-flex ae-bg-gallery-type-default e-con e-child"
            data-id="3b0ebc8" data-element_type="container"
            data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
            <div class="elementor-element elementor-element-fc32020 elementor-widget elementor-widget-text-editor"
              data-id="fc32020" data-element_type="widget" data-widget_type="text-editor.default">
              <div class="elementor-widget-container">
                <p>Please fill out the form below to request access to our
                  investor area, and we will reach out to you shortly with additional
                  information.</p>
                <p>Already have access? <a style="text-decoration: underline !important;" href="https://investor.edyou.com/wp-login.php">Sign in here</a></p>
              </div>
            </div>

            <form [formGroup]="investorForm" (ngSubmit)="requestAccess()">
              <!-- First Name and Last Name -->
              <div class="form-group row">
                <div class="col-sm-6 pr-sm-1">
                  <input type="text" name="fname" formControlName="firstname" class="form-control"
                         placeholder="First Name" [ngClass]="{ 'is-invalid': hasError('firstname', 'required') }" />
                </div>
                <div class="col-sm-6 pl-sm-1">
                  <input type="text" name="lname" formControlName="lastname" class="last-name form-control"
                         placeholder="Last Name" [ngClass]="{ 'is-invalid': hasError('lastname', 'required') }" />
                </div>
              </div>
            
              <!-- Email and Phone -->
              <div class="form-group row">
                <div class="col-sm-6 pr-sm-1">
                  <input type="email" name="email" formControlName="email" class="form-control" placeholder="Email"
                         [ngClass]="{ 'is-invalid': hasError('email', 'required') || hasError('email', 'email') || hasError('email', 'pattern') }" />
                </div>
                <div class="col-sm-6 pl-sm-1">
                  <input type="text" name="phone" formControlName="phone" class="phone form-control" placeholder="Phone"
                         [ngClass]="{ 'is-invalid': hasError('phone', 'required') || hasError('phone', 'pattern') }" />
                </div>
              </div>
            
              <!-- Company Name -->
              <div class="form-group">
                <input type="text" name="company-name" formControlName="company" class="form-control"
                       placeholder="Company Name" [ngClass]="{ 'is-invalid': hasError('company', 'required') }" />
              </div>
            
              <!-- User Information -->
              <div class="form-group">
                <textarea class="form-control textArea12" formControlName="user_information" id rows="4"
                          placeholder="Tell us about yourself."
                          [ngClass]="{ 'is-invalid': hasError('user_information', 'required') }"></textarea>
              </div>
            
              <!-- Submit Button -->
              <div class="form-group row text-left">
                             
              
                <div class="col-12">
                    <!-- <input type="submit" class="btn btn-success btn-block" [disabled]="investorForm.invalid" value="Request Access"
                        style="font-size: medium !important; padding: .75rem 1.5rem !important; background-color: #008ec2 !important;" /> -->
                        <button style="height:45px ;" type="submit" id='myButton'
                        class="btn btn-success" [disabled]="investorForm.invalid"
                        style="font-size: large !important; font-weight: 900; padding: .5rem 1.5rem !important; background-color: #008ec2 !important;"
                        >
                        <img class="" style="width : 24px; color:white;" *ngIf="loading"
                          src="../../assets/images/Rolling-1s-200px (2).gif"> <span class="signIn"
                          *ngIf="!loading">Request Access</span></button>                        
                        <!-- <img class="" style="width : 24px; color:white;"
												src="../../assets/images/Rolling-1s-200px (2).gif"> -->
                </div>
                <!-- <div *ngIf="loading" class="spinner-border text-primary mt-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div> -->
                <span *ngIf="successMessageVisible" style="color: #ffffff;" class="p-2" role="alert">
                    {{successMessage}}
                </span>
            </div>            
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>