a{
  cursor: pointer;
}
.scLogoimg{
  
 
  margin-right:-26px;
  }
.e-con-inner{
  max-height:85.8px;
}
#targetDiv {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    min-height: 0;
    max-height: 0;
    overflow-y:scroll;
    background-color: #F5F5F7;
    transition: min-height 0.5s ease;
    transition: max-height 0.5s ease;

}
.safety {
    color:#13487C; /* Color when in "safety" state */
  }
ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    border-bottom: 1px solid #BFBFBF;
    padding: 1px 0;
  }
  li:last-child {
    border-bottom: none;
}
.closeButton{
    position: absolute;
    right: 0;
    margin: 5%;
    z-index: 4;
    cursor: pointer;
}

.gives-margin{
    margin-left: 5vh;
    margin-top: 5vh;
}

.hamburger-menu {
    /* To show hamburger menu on desktop size as well */
    display: block;
}
.mobile {
    /* Mobile styles here */
  }
  .desktop {
    /* Desktop styles here */
    #targetDiv {
         position: fixed; 
        top: 0;
        left: 0;
         width: auto; 
        min-height: 0;
        max-height: 0;
        overflow-y:scroll;
        background-color: #F5F5F7;
        transition: min-height 0.5s ease;
        transition: max-height 0.5s ease;
    }
  }
  .targetDivsmall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    min-height: 0;
    max-height: 0;
    overflow-y:scroll;
    background-color: #F5F5F7;
    transition: min-height 0.5s ease;
    transition: max-height 0.5s ease;
  }
  /* .elementor-icon-list-item:not(:has(.elementor-icon-list-icon)) {
    font-weight: 600;
    color:rgb(60, 55, 55)
} */
.elementor-icon-list-item:has(.elementor-icon-list-icon) {
    line-height: 1rem;
    color:rgb(25, 25, 56)
}
#targetDiv::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */

  .targetDivlarge {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 0;
    max-height: 0;
    margin-left: 83%;

    overflow-y:scroll;
    margin-left: 78%;
    width: 22%;
    background-color: #F5F5F7;
    transition: min-height 0.5s ease;
    transition: max-height 0.5s ease;
  }
  @media (min-width: 1025px) {
    .hamburger-menu-inner-container {
        max-width: 1140px;
        justify-content: center;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles for iPad in portrait mode */

  .targetDivlarge{
      position: fixed;
      top: 0;
      left: 0;
      min-height: 0;
      max-height: 0;
      margin-left: 83%;
      overflow-y: scroll;
      margin-left: 65%;
      width: 35%;
      background-color: #F5F5F7;
      transition: min-height 0.5s ease;
      transition: max-height 0.5s ease;
  }
}
.x-logo {
  width: 80%; /* Adjust size as needed */
height:auto; /* Adjust size as needed */
  transition: opacity 0.3s ease; /* Smooth transition */
  margin-top: -44%;
}
@media all and  (min-width: 375px)and (max-width:600px) {
.scLogoimg{
width:80%;
margin-left:-23%
}
.scLogoimg {
  width: 126%;
  margin-left: -48%;
}
.scLogoimgMobile
{
  padding-right : 9px;
}


.mobileShow{
  margin-top:-75px;
}
.e-con-inner{
  max-height:72.8px;
}
}
