a{
    cursor: pointer;
}

#targetDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 0;
    max-height: 0;
    overflow-y:scroll;
    background-color: #F5F5F7;
    transition: min-height 0.5s ease;
    transition: max-height 0.5s ease;
}

.closeButton{
    position: absolute;
    right: 0;
    margin: 4%;
    z-index: 4;
}

.gives-margin{
    margin-left: 5vh;
    margin-top: 5vh;
}

.hamburger-menu {
    /* To show hamburger menu on desktop size as well */
    display: block;
}
.lappyUi{
    width:40%;
    margin-left:60%;
    margin-top:2%
}