<div class="has_ae_slider elementor-element elementor-element-58590155 global-nav-container e-flex e-con-boxed ae-bg-gallery-type-default e-con e-parent headermain"
    data-id="58590155" data-element_type="container"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky&quot;:&quot;top&quot;,&quot;position&quot;:&quot;fixed&quot;,&quot;content_width&quot;:&quot;boxed&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}"
    data-core-v316-plus="true" style="z-index: 2;">
    <div class="e-con-inner maincontainer1" style="display: flex;justify-content: center;align-items: center;">
        <div class="has_ae_slider elementor-element elementor-element-6b64d113 e-con-full e-flex ae-bg-gallery-type-default e-con e-child"
            data-id="6b64d113" data-element_type="container" style="display: flex;justify-content: center;align-items: center;"
            data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
            <div class="elementor-element elementor-element-1272a833 site-logo elementor-widget elementor-widget-image"
                data-id="1272a833" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container logoset">
                    <a (click)="navigateToMain()">
                        <img width="300" height="125" src='https://edyouwebsite.s3.us-west-2.amazonaws.com/edyou-logo-horiz-empower-white.png'
                            class="attachment-medium size-medium wp-image-7" alt="Edyou Logo"
                            sizes="(max-width: 300px) 100vw, 300px" />
                    </a>
                  
                </div>
                
            </div>
        </div>
        <div class="has_ae_slider elementor-element elementor-element-116a01ad e-con-full e-flex ae-bg-gallery-type-default e-con e-child"
            data-id="116a01ad" data-element_type="container" style="display: flex;align-items: center;"
            data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
            <!-- <div class="elementor-element elementor-element-232cb070 elementor-nav-menu--dropdown-none elementor-hidden-mobile elementor-widget elementor-widget-nav-menu"
                data-id="232cb070" data-element_type="widget"
                data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;i class=\&quot;fas fa-caret-down\&quot;&gt;&lt;\/i&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;}}"
                data-widget_type="nav-menu.default"> -->
                <!-- <div class="elementor-widget-container">
                    <nav
                        [hidden]="true"
                        class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
                        <ul id="menu-1-232cb070" class="elementor-nav-menu">
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-22029">
                                <a (click)="navigateToCompany()" class="elementor-item">Company
                                    <span class="sub-arrow"><i class="fas fa-caret-down"></i></span>
                                </a>
                                <ul class="sub-menu elementor-nav-menu--dropdown">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22181">
                                        <a routerLink="/company" fragment="why-edu"
                                            class="elementor-sub-item elementor-item-anchor">Why
                                            edYOU?</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22186">
                                        <a routerLink="/company" fragment="mission_vision"
                                            class="elementor-sub-item elementor-item-anchor">Mission/Vision</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22187">
                                        <a routerLink="/company" fragment="team"
                                            class="elementor-sub-item elementor-item-anchor">Team</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22188">
                                        <a routerLink="/company" fragment="faq" class="elementor-sub-item elementor-item-anchor">FAQ</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22178">
                                        <a (click)="navigateToPayItForward()" class="elementor-sub-item">
                                            Pay It Forward</a></li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21974">
                                        <a (click)="navigateToPress()" class="elementor-sub-item">Press</a></li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19201">
                                <a (click)="navigateToSafety()" class="elementor-item">Safety
                                    <span class="sub-arrow"><i class="fas fa-caret-down"></i></span>
                                </a>
                                <ul class="sub-menu elementor-nav-menu--dropdown">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22197">
                                        <a routerLink="/safety" fragment="physical_safety"
                                            class="elementor-sub-item elementor-item-anchor">Physical
                                            Safety</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22198">
                                        <a routerLink="/safety" fragment="emotional_wellbeing"
                                            class="elementor-sub-item elementor-item-anchor">Emotional
                                            Wellbeing</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22199">
                                        <a routerLink="/safety" fragment="ongoing_human_oversight"
                                            class="elementor-sub-item elementor-item-anchor">Ongoing
                                            Human Oversight</a></li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22177">
                                        <a (click)="navigateToAcademicIntegrity()" class="elementor-sub-item">Academic
                                            Integrity</a></li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19142">
                                <a (click)="navigateToLabs()" class="elementor-item">Labs
                                    <span class="sub-arrow"><i class="fas fa-caret-down"></i></span>
                                </a>
                                <ul class="sub-menu elementor-nav-menu--dropdown">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22192">
                                        <a routerLink="/labs" fragment="research"
                                            class="elementor-sub-item elementor-item-anchor">Research</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22193">
                                        <a routerLink="/labs" fragment="cab"
                                            class="elementor-sub-item elementor-item-anchor">Conversational
                                            AI Beings</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22194">
                                        <a routerLink="/labs" fragment="pai"
                                            class="elementor-sub-item elementor-item-anchor">Personalized
                                            AI</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22195">
                                        <a routerLink="/labs" fragment="pie"
                                            class="elementor-sub-item elementor-item-anchor">Proprietary
                                            Ingestion Engine</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22196">
                                        <a routerLink="/labs" fragment="ice"
                                            class="elementor-sub-item elementor-item-anchor">Intelligent
                                            Curation Engine</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1614">
                                <a (click)="navigateToBlog()" class="elementor-item">Blog</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21542">
                                <a (click)="navigateToInvestor()" class="elementor-item">Investor
                                    Area</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" aria-hidden="true">
                        <ul id="menu-2-232cb070" class="elementor-nav-menu">
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-22029">
                                <a (click)="navigateToCompany()" class="elementor-item" tabindex="-1">Company</a>
                                <ul class="sub-menu elementor-nav-menu--dropdown">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22181">
                                        <a routerLink="/company" fragment="why-edyou" class="elementor-sub-item elementor-item-anchor"
                                            tabindex="-1">Why
                                            edYOU?</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22186">
                                        <a routerLink="/company" fragment="mission_vision"
                                            class="elementor-sub-item elementor-item-anchor"
                                            tabindex="-1">Mission/Vision</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22187">
                                        <a routerLink="/company" fragment="team" class="elementor-sub-item elementor-item-anchor"
                                            tabindex="-1">Team</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22188">
                                        <a routerLink="/company" fragment="faq" class="elementor-sub-item elementor-item-anchor"
                                            tabindex="-1">FAQ</a></li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22178">
                                        <a (click)="navigateToPayItForward()" class="elementor-sub-item"
                                            tabindex="-1">Pay It
                                            Forward</a></li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21974">
                                        <a (click)="navigateToPress()" class="elementor-sub-item"
                                            tabindex="-1">Press</a></li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19201">
                                <a (click)="navigateToSafety()" class="elementor-item" tabindex="-1">Safety</a>
                                <ul class="sub-menu elementor-nav-menu--dropdown">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22197">
                                        <a routerLink="/safety" fragment="physical_safety"
                                            class="elementor-sub-item elementor-item-anchor" tabindex="-1">Physical
                                            Safety</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22198">
                                        <a routerLink="/safety" fragment="emotional_wellbeing"
                                            class="elementor-sub-item elementor-item-anchor" tabindex="-1">Emotional
                                            Wellbeing</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22199">
                                        <a routerLink="/safety" fragment="ongoing_human_oversight"
                                            class="elementor-sub-item elementor-item-anchor" tabindex="-1">Ongoing Human
                                            Oversight</a></li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22177">
                                        <a (click)="navigateToAcademicIntegrity()" class="elementor-sub-item"
                                            tabindex="-1">Academic
                                            Integrity</a></li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19142">
                                <a (click)="navigateToLabs()" class="elementor-item" tabindex="-1">Labs</a>
                                <ul class="sub-menu elementor-nav-menu--dropdown">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22192">
                                        <a routerLink="/labs" fragment="research" class="elementor-sub-item elementor-item-anchor"
                                            tabindex="-1">Research</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22193">
                                        <a routerLink="/labs" fragment="cab" class="elementor-sub-item elementor-item-anchor"
                                            tabindex="-1">Conversational AI
                                            Beings</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22194">
                                        <a routerLink="/labs" fragment="pai" class="elementor-sub-item elementor-item-anchor"
                                            tabindex="-1">Personalized
                                            AI</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22195">
                                        <a routerLink="/labs" fragment="pie" class="elementor-sub-item elementor-item-anchor"
                                            tabindex="-1">Proprietary
                                            Ingestion
                                            Engine</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22196">
                                        <a routerLink="/labs" fragment="ice" class="elementor-sub-item elementor-item-anchor"
                                            tabindex="-1">Intelligent
                                            Curation
                                            Engine</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19614"><a
                                    (click)="navigateToBlog()" class="elementor-item" tabindex="-1">Blog</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21542">
                                <a (click)="navigateToInvestor()" class="elementor-item"
                                    tabindex="-1">Investor Area</a></li>
                        </ul>
                    </nav>
                </div> -->
            <!-- </div> -->
            <div class="elementor-element elementor-element-43a78293 hamburger-menu elementor-hidden-desktop elementor-view-default elementor-widget elementor-widget-icon"
            data-id="43a78293" data-element_type="widget" data-widget_type="icon.default">
            <div class="elementor-widget-container">
                
                <div class="elementor-icon-wrapper">
                   
                    <div class="elementor-icon">
                        <div class="scLogoimg"   >
                            <img  *ngIf="!isScPage" class ="scLogoimgMobile" style="cursor : pointer"src ="../assets/icons/SClogoprofile.png" alt=""  >
                            <img  *ngIf="!isScPage" class ="scLogoimgMobilebutton"(click)="navigateToSC()" src ="../assets/icons/buttonSc.png" alt=""   >
                             <div  *ngIf="!isLoggedIn" style="">
              <!-- <div  *ngIf="!isLoggedIn" style="margin-right: 20px; margin-top: 20px;"> -->
              <button (click)="openLoginPopup($event)" class="loginBtn" id="loginNavBtn"> <span>Login</span></button>
                <!-- </ng-container> -->
            </div>
                            <!-- <img  *ngIf="screenSize ==='small' && !isScPage" (click)="navigateToSC()" src ="../assets/icons/mobilebutton.png" alt=""   style="height:32px; margin-top: -13px;">   -->
                        </div>
                        <!-- <a >
                            <button class="pricing-button"style="margin-top:2%">Pre-enroll now</button>
                          </a> -->
                       
                        <!-- <i aria-hidden="true" class="fas fa-bars" (click)="showNavigation()"></i> -->
                    </div>
                </div>
            </div>
            </div>
            <div class="elementor-element elementor-element-43a78293 hamburger-menu elementor-hidden-desktop elementor-view-default elementor-widget elementor-widget-icon"
                data-id="43a78293" data-element_type="widget" data-widget_type="icon.default">
                <div class="elementor-widget-container mobileShow" [ngStyle]="sc ? {'margin-top': '0px'}:{}"  >
                    <div class="elementor-icon-wrapper" style="display: flex;justify-content: center;align-items: center;">
                        <div class="elementor-icon">
                            <i aria-hidden="true" [ngClass]="{'safety': isSafetyState}" style=""  class="fas fa-bars"  (click)="showNavigation()"></i>
                            <!-- <i aria-hidden="true" [ngClass]="{'safety': isSafetyState}" style="margin-top:18px"  class="fas fa-bars"  (click)="showNavigation()"></i> -->
                            <!-- <i aria-hidden="true" class="fas fa-bars" (click)="showNavigation()"></i> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="merginMobile" style="display: flex;justify-content: center;align-items: center;">
                <div  *ngIf="isLoggedIn" class="has_ae_slider elementor-element elementor-element-116a01ad e-con-full e-flex ae-bg-gallery-type-default e-con e-child"
                data-id="116a01ad" data-element_type="container" style="display: flex;justify-content: left;align-items: center;margin-left: -20px;"
                data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
                <div class="action">
                    <div class="profile" (click)="menuToggle()">
                      <img src="../../assets/images/holder.png" />
                    </div>
                    <div class="menu" id="menuId">
                      <h3>{{userName}}</h3>
                      <ul>
                        <li>
                          
                          <a class="" (click)="navigateToProfile()">My profile</a>
                        </li>
                        <li>
                          
                          <a (click)="logOut()">Logout</a>
                        </li>
          
                      </ul>
                    </div>
                </div> 
                <button *ngIf="!buttonName && isLoggedIn"(click)="scrollToPricing()" class=" buttonProfile" > <span>Start Free</span></button>
                <button *ngIf="buttonName =='Startfree' "(click)="scrollToPricing()" class=" buttonProfile" > <span>Start Free</span></button>
                <button  *ngIf="buttonName =='Learn'" (click)="linkToedyouUser()" class="buttonProfile" > <span>Learn Now</span></button>
                <button  [attr.disabled]="   this.isbuttondisabled  ? true : null" *ngIf="buttonName =='Renew'" (click)="scrollToPricing()" class="loginBtn buttonProfile" > <span>Learn Now</span></button>
            
            </div>

           
  
       
        </div>
        </div>
    </div>
</div>

<!-- For the pop menu which comes out during the mobile viewport from the navigation bar menu! -->

<div style="z-index: 3;" *ngIf="screenSize ==='small'" id="targetDiv" class="elementor-20065 targetDivsmall">
    <svg (click)="hideNavigation()" class="closeButton" width="24" height="24" fill="none" stroke="#388af5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6 6 18"></path>
        <path d="m6 6 12 12"></path>
    </svg>
    <div class="gives-margin elementor-element  elementor-element-2b19ce79 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list">
        <div class="elementor-widget-container">
            <ul class="elementor-icon-list-items">
                <li class="elementor-icon-list-item">
                    <a (click)="navigateToCompany()">
                        <span class="elementor-icon-list-text" (click)="hideNavigation()">Company</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item">
                    <a routerLink="/company" fragment="why-edyou" (click)="hideNavigation()">
                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i>
                        </span>
                        <span class="elementor-icon-list-text">Why
                            edYOU?
                        </span>
                    </a>
                </li>
                <li class="elementor-icon-list-item">
                    <a (click)="hideNavigation()">

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/company" fragment="mission_vision" class="elementor-icon-list-text">Mission/Vision</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item">
                    <a (click)="hideNavigation()">

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/company" fragment="team" class="elementor-icon-list-text">Team</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item">
                    <a (click)="hideNavigation()">

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/company" fragment="faq" class="elementor-icon-list-text">FAQ</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a (click)="navigateToPayItForward()">

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span class="elementor-icon-list-text">Pay
                            It Forward</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a (click)="navigateToPress()">

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span class="elementor-icon-list-text">Press</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a (click)="navigateToSafety()">
                        <span class="elementor-icon-list-text">Safety</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/safety" fragment="physical_safety" class="elementor-icon-list-text">Physical
                            Safety</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span class="elementor-icon-list-text" routerLink="/safety" fragment="emotional_wellbeing">Emotional
                            Wellbeing</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span class="elementor-icon-list-text" routerLink="/safety" fragment="ongoing_human_oversight">Ongoing
                            Human Oversight</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a (click)="navigateToLabs()">

                        <span class="elementor-icon-list-text">Labs</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/labs" fragment="research" class="elementor-icon-list-text">Research</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/labs" fragment="cab" class="elementor-icon-list-text">Conversational
                            AI Beings</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/labs" fragment="pai" class="elementor-icon-list-text">Personal
                            AI</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/labs" fragment="ice" class="elementor-icon-list-text">Intelligent
                            Curation Engine</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/labs" fragment="pie" class="elementor-icon-list-text">Proprietary
                            Ingestion Engine</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a (click)="navigateToBlog()">

                        <span class="elementor-icon-list-text">Blog</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a (click)="navigateToInvestor()">

                        <span class="elementor-icon-list-text">Investor
                            Area</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="elementor-element elementor-element-73c12e7a elementor-widget__width-initial elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
        data-id="73c12e7a" data-element_type="widget" data-widget_type="divider.default">
        <div class="elementor-widget-container">
            <div class="elementor-divider">
                <span class="elementor-divider-separator">
                </span>
            </div>
        </div>
    </div>
    <div class="has_ae_slider elementor-element elementor-element-5574f455 e-con-full e-flex ae-bg-gallery-type-default e-con e-child"
        data-id="5574f455" data-element_type="container"
        data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
        <div class="elementor-element elementor-element-24373755 elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
            data-id="24373755" data-element_type="widget" data-widget_type="icon-box.default">
            <div class="elementor-widget-container">
                <div class="elementor-icon-box-wrapper">
                    <div class="elementor-icon-box-icon">
                        <a href="tel:13109826822" class="elementor-icon elementor-animation-" tabindex="-1">
                            <i aria-hidden="true" class="fas fa-phone-alt"></i> </a>
                    </div>
                    <div class="elementor-icon-box-content">
                        <p class="elementor-icon-box-title" style="padding-top:9px">
                            <a href="tel:13109826822" style="color: black;">
                                310.982.6822
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-4bc2276d elementor-shape-circle e-grid-align-left elementor-grid-0 elementor-widget elementor-widget-social-icons"
            data-id="4bc2276d" data-element_type="widget" data-widget_type="social-icons.default">
            <div class="elementor-widget-container">
                <div class="elementor-social-icons-wrapper elementor-grid">
                    <span class="elementor-grid-item">
                        <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-animation-grow elementor-repeater-item-ac8765e"
                            href="https://www.facebook.com/edyoutechnologies" target="_blank">
                            <span class="elementor-screen-only">Facebook</span>
                            <i class="fab fa-facebook"></i> </a>
                    </span>
                    <span class="elementor-grid-item">
                        <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-grow elementor-repeater-item-ac8765e"
                            href="https://twitter.com/edYOU_Tech" target="_blank">
                            <span class="elementor-screen-only">Twitter</span>
                            <!-- <i class="fab fa-twitter"></i> </a> -->
                            <div (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" >
                                <img *ngIf="!isHovered" [src]="defaultImage" alt="Default Logo" class="x-logo">
                                <img *ngIf="isHovered" [src]="hoverImage" alt="Hover Logo" class="x-logo">
                              </div>
                              </a>
                    </span>
                    <span class="elementor-grid-item">
                        <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-grow elementor-repeater-item-0dd8f77"
                            href="https://www.youtube.com/channel/UCAYmwgQkmqij-AdRV0-Z63A" target="_blank">
                            <span class="elementor-screen-only">Youtube</span>
                            <i class="fab fa-youtube"></i> </a>
                    </span>
                    <span class="elementor-grid-item">
                        <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-grow elementor-repeater-item-19a3422"
                            href="https://www.instagram.com/edyoutechnologies/" target="_blank">
                            <span class="elementor-screen-only">Instagram</span>
                            <i class="fab fa-instagram"></i> </a>
                    </span>
                    <span class="elementor-grid-item">
                        <a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-animation-grow elementor-repeater-item-9df3809"
                            href="https://www.linkedin.com/company/edyou-educateyourself" target="_blank">
                            <span class="elementor-screen-only">Linkedin</span>
                            <i class="fab fa-linkedin"></i> </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="z-index: 3;" *ngIf="screenSize ==='large'" id="targetDiv" class="elementor-20065 targetDivlarge">
    <svg (click)="hideNavigation()" class="closeButton" width="24" height="24" fill="none" stroke="#388af5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6 6 18"></path>
        <path d="m6 6 12 12"></path>
    </svg>
    
    <div class="gives-margin elementor-element elementor-20065 elementor-element-2b19ce79 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list">
        <div class="elementor-widget-container">
            <ul class="elementor-icon-list-items">
                <li class="elementor-icon-list-item">
                    <a (click)="navigateToCompany()">
                        <span class="elementor-icon-list-text" (click)="hideNavigation()">Company</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item">
                    <a routerLink="/company" fragment="why-edyou" (click)="hideNavigation()">
                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i>
                        </span>
                        <span class="elementor-icon-list-text">Why
                            edYOU?
                        </span>
                    </a>
                </li>
                <li class="elementor-icon-list-item">
                    <a (click)="hideNavigation()">

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/company" fragment="mission_vision" class="elementor-icon-list-text">Mission/Vision</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item">
                    <a (click)="hideNavigation()">

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/company" fragment="team" class="elementor-icon-list-text">Team</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item">
                    <a (click)="hideNavigation()">

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/company" fragment="faq" class="elementor-icon-list-text">FAQ</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a (click)="navigateToPayItForward()">

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span class="elementor-icon-list-text">Pay
                            It Forward</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a (click)="navigateToPress()">

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span class="elementor-icon-list-text">Press</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a (click)="navigateToSafety()">
                        <span class="elementor-icon-list-text">Safety</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/safety" fragment="physical_safety" class="elementor-icon-list-text">Physical
                            Safety</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span class="elementor-icon-list-text" routerLink="/safety" fragment="emotional_wellbeing">Emotional
                            Wellbeing</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span class="elementor-icon-list-text" routerLink="/safety" fragment="ongoing_human_oversight">Ongoing
                            Human Oversight</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a (click)="navigateToLabs()">

                        <span class="elementor-icon-list-text">Labs</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/labs" fragment="research" class="elementor-icon-list-text">Research</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/labs" fragment="cab" class="elementor-icon-list-text">Conversational
                            AI Beings</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/labs" fragment="pai" class="elementor-icon-list-text">Personal
                            AI</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/labs" fragment="ice" class="elementor-icon-list-text">Intelligent
                            Curation Engine</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a>

                        <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-circle"></i> </span>
                        <span routerLink="/labs" fragment="pie" class="elementor-icon-list-text">Proprietary
                            Ingestion Engine</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a (click)="navigateToBlog()">

                        <span class="elementor-icon-list-text">Blog</span>
                    </a>
                </li>
                <li class="elementor-icon-list-item" (click)="hideNavigation()">
                    <a (click)="navigateToInvestor()">

                        <span class="elementor-icon-list-text">Investor
                            Area</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="elementor-element elementor-element-73c12e7a elementor-widget__width-initial elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
        data-id="73c12e7a" data-element_type="widget" data-widget_type="divider.default">
        <div class="elementor-widget-container">
            <div class="elementor-divider">
                <span class="elementor-divider-separator">
                </span>
            </div>
        </div>
    </div>
    <div class="has_ae_slider elementor-element elementor-element-5574f455 e-con-full e-flex ae-bg-gallery-type-default e-con e-child"
        data-id="5574f455" data-element_type="container"
        data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
        <div class="elementor-element elementor-element-24373755 elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
            data-id="24373755" data-element_type="widget" data-widget_type="icon-box.default">
            <div class="elementor-widget-container">
                <div class="elementor-icon-box-wrapper">
                    <div class="elementor-icon-box-icon">
                        <a href="tel:13109826822" class="elementor-icon elementor-animation-" tabindex="-1">
                            <i aria-hidden="true" class="fas fa-phone-alt"></i> </a>
                    </div>
                    <div class="elementor-icon-box-content">
                        <p class="elementor-icon-box-title" style="padding-top:9px">
                            <a href="tel:13109826822" style="color: black;">
                                310.982.6822
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-4bc2276d elementor-shape-circle e-grid-align-left elementor-grid-0 elementor-widget elementor-widget-social-icons"
            data-id="4bc2276d" data-element_type="widget" data-widget_type="social-icons.default">
            <div class="elementor-widget-container">
                <div class="elementor-social-icons-wrapper elementor-grid">
                    <span class="elementor-grid-item">
                        <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-animation-grow elementor-repeater-item-ac8765e"
                            href="https://www.facebook.com/edyoutechnologies" target="_blank">
                            <span class="elementor-screen-only">Facebook</span>
                            <i class="fab fa-facebook"></i> </a>
                    </span>
                    <span class="elementor-grid-item">
                        <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-grow elementor-repeater-item-915468d"
                            href="https://twitter.com/edYOU_Tech" target="_blank">
                            <span class="elementor-screen-only">Twitter</span>
                            <div (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" >
                                <img *ngIf="!isHovered" [src]="defaultImage" alt="Default Logo" class="x-logo">
                                <img *ngIf="isHovered" [src]="hoverImage" alt="Hover Logo" class="x-logo">
                              </div> </a>
                    </span>
                    <span class="elementor-grid-item">
                        <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-grow elementor-repeater-item-0dd8f77"
                            href="https://www.youtube.com/channel/UCAYmwgQkmqij-AdRV0-Z63A" target="_blank">
                            <span class="elementor-screen-only">Youtube</span>
                            <i class="fab fa-youtube"></i> </a>
                    </span>
                    <span class="elementor-grid-item">
                        <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-grow elementor-repeater-item-19a3422"
                            href="https://www.instagram.com/edyoutechnologies/" target="_blank">
                            <span class="elementor-screen-only">Instagram</span>
                            <i class="fab fa-instagram"></i> </a>
                    </span>
                    <span class="elementor-grid-item">
                        <a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-animation-grow elementor-repeater-item-9df3809"
                            href="https://www.linkedin.com/company/edyou-educateyourself" target="_blank">
                            <span class="elementor-screen-only">Linkedin</span>
                            <i class="fab fa-linkedin"></i> </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->