a {
    cursor: pointer;
}

main {
    max-width: 100% !important;
    overflow: hidden;
}

#video_hero {
    display: none;
}

/* .page-content {
    display: none;
} */

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 60px;
    padding-left: 135px;
    padding-right: 135px;
    /* background-color: #183152; */
    /* background-color: #0E233D; */
    /* border-radius: 18px; */
}

.special-style {
    margin-top: 18px !important;
    height: 58% !important;
  }

  .sizeImage{
    width: 60px;
    height: 60px;
    margin-top: 22px;
  }

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 134px;
}

.connect-learn-thrive {
    display: flex;
    justify-content: center;
}

.connect-learn-thrive-item {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 300px;
    max-width: 380px;
}

.clt-header-text {
    margin-bottom: 2px;
}

.clt-icon {
    width: 60px;
}

.connect-icon {
   
    margin-bottom: 19px;
    margin-top: 12px;
}


.learn-icon {
    margin-bottom: 20px;
}

.thrive-icon {
  
    width: 39px;
    margin-right: 10px;
    margin-bottom: 22px;

}

.right-avatar {
    max-width: 600px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.iframe-video {
    height: 500px;
    max-width: 700px;
}

.video-container {
    /* width: clamp(20em, 80vw, 30em); */
    width: clamp(10em, 80vw, 20em);
    /* width: 30em; */
    /* width: 30em; */
    /* min-height: 500px; */
}

#hero-video {
    border-radius: 40px;
}

.right-avatar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.right-avatar img {
    border-radius: 80px;
}

.right-avatar-button {
    background-color: #427BC1;
    border: none;
    color: #fff;
}


@media (min-width: 1282px)  {
    .left-header {
        padding-left: 10px;
        padding-right: 40px;
        width: 50%;
    }

    .courses-cards-container{
        padding: 0 2em;
        max-width: 1280px;
    }
}

@media (max-width: 1281px)  {
    .hero-text {
        font-size: 64px;
    }
}

@media (max-width: 1025px)  {
    .hero-text {
        font-size: 56px;
    }

    .courses-cards-container{
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .info-section {
        padding-left: 45px;
        padding-right: 45px;
    }
    
    .iframe-video {
        width: 400px;
    }

    .connect-learn-thrive{
        flex-wrap: wrap;
    }

    .connect-learn-thrive-item {
        max-width: 800px;
    }
}

@media (max-width: 1180px)  { 
    .video-container{
      
        margin-left: -6%;
        width:80%;
    }
    .hero-banner {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0px;
        padding-right: 0px;
    }

    .hero-text {
        font-size: 48px;
    }

    .left-header {
        padding-left: 40px;
        padding-right: 40px;
    }

    .right-avatar img {
        border-radius: 80px;
    }

    .connect-learn-thrive{
        flex-wrap: wrap;
    }
    .connect-learn-thrive-item {
        max-width: 400px;
    }
}

.countdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    /* width: 80%; */
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 40px;
    background-color: #0E233D;
}

.countdowntEXT{
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.countDownday{
    /* border: 1px solid black; */
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.day{
    width: 130px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 11.059px;
    border: 0.922px solid #2A7CC7;
    background: rgba(255, 255, 255, 0.04);
}

@media (max-width: 801px)  { 
    .day{
        max-width: 90px;
        width: 68px;
        height: 100px;
    }
    .countdowntEXT{
        font-size: 15px;
    }
    .countdown{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        /* width: 80%; */
        padding-left:0px;
        padding-right: 0px; 
        padding-bottom: 40px;
        background-color: #0E233D;
    }
    .countdownHeading{
        text-align: center;
        font-size: 48px;
    }
    .dayNumber{
        font-size: 40px !important;
    }
    .dayText{
        font-size: 14px !important;
    }
    .dot{
        width: 7px !important;
        height: 7px !important;
    }
    .QuestionText{
        font-size: 20px !important;
    }
}

.seperator{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
}
.dot{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}
.dayNumber{
    color: #FFF;
    text-align: center;
    font-family: Impact;
    font-size: 82.946px;
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
    letter-spacing: 1px;
    /* line-height: normal; */
}
.dayText{
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16.589px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -5px;
}
.QuestionText{
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
}
.countdown button{
    margin-top: 10px;
    display: flex;
    width: 210px;
    height: 56px;
    padding: 8px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: var(--Primary-White, #FFF);
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 88.889% */
    letter-spacing: 0.2px;
    border: none;
}
.signUptext{
    margin-top: 15px;
    color: var(--light-text-color, #FFF);
    text-align: center;
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.offMsg{
    /* color: var(--disabled-element-color, #8EC2F2); */
    color: #97172f;
    /* background: linear-gradient(180deg, #D02D50, #6A1729);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent; */
    background-image: linear-gradient(to top, #D02D50, #7e1e33);
    color: transparent;
    background-clip: text;
    font-family: "DM Sans";
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -6px;
    text-align: center;
}


/* CLIENTS AND SERVICES SECTION */


/* PRICING SECTION */
.pricing-section {
    background: linear-gradient(to bottom, #081524, #0E233D);
    text-align: center;
    padding: 64px 0px 114px 0px;
}

.pricing-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.pricing-title-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.pre-launch-special-badge {
    width: 100px;
    position: absolute;
    margin-left: 300px;
    margin-bottom: 10px;
}

.pricing-card {
    background-color: #183152;
    height: 560px;
    width: 380px;
    border-radius: 12px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.pre-launch-special-ribbon {
    width: 140px;
    position: absolute;
    top: 0;
    left: 0;
}

.silver {
    /* background: linear-gradient(135deg, #414141, #737373); */
    background-color:var(--incomplete-question, rgba(42, 124, 199, 0.10));
}

.gold {
    /* background: linear-gradient(135deg, #796610, #6c6130); */
    /* background: linear-gradient(135deg, #796610, #6e5f1b); */
    background-color:var(--incomplete-question, rgba(42, 124, 199, 0.10));
}

.unlimited {
    /* background-color: #000; */
    /* border-image: linear-gradient(45deg, #EB5CBD, #2B74F6 100%) 1; */
    /* background: linear-gradient(90deg, #121212, #242424); */
    background-color:var(--incomplete-question, rgba(42, 124, 199, 0.10));
}


.pricing-card-title {
    display: flex;
    justify-content: space-between;
}

.pricing-card-title-left {
    padding-top: 26px;
    padding-bottom: 0;
    text-align: left;
}

.pricing-card-title-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pricing-number {
    font-size: 24px;
    font-weight: bold;
}

.pricing-button {
    background-color: #427BC1;
    border: none;
    color: #fff;
}

.pricing-card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pricing-card-description-list-items {
    text-align: left;
}

.strikethrough {
    color: #a4122d;
    /* color: #681222; */
    text-decoration:line-through;
}

.strikethrough-text {
    font-size: 24px;
    color: #fff;
}

.billed-annually-text {
    position: absolute;
    bottom: 14px;
    right: 20px;
    font-size: 14px;
}

/* COURSES SECTIONS */

.courses-section {
    /* background: linear-gradient(to bottom, #081524, #0E233D); */
    background-color: #0E233D;
    text-align: center;
    padding: 64px 0px 114px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.courses-cards-container {
    display: grid;
    gap: 20px;
    /* grid-template-columns: repeat(auto-fill, minmax(340px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    width: 80%;
    margin-bottom: 60px;
}
.courses-cards-container1 {
    display: grid;
    gap: 20px;
    /* grid-template-columns: repeat(auto-fill, minmax(340px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    width: 80%;
    margin-bottom: 60px;
}
.courses-cards-container a img {
    transition: transform 0.3s ease-in-out;
}
  
.courses-cards-container a img:hover {
    transform: scale(1.1); /* Adjust the scale value to control the zoom level */
}

.course-card {
    background-color: #1B2C43;
    /* background-color: #293f5d; */
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    position: relative;
    padding: 0 10px;
}

.coming-soon-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
}

.course-card .course-image-placeholder {
    width: 60%;
    height: 60%;
    background-color: #293f5d;
    border-radius: 16px;
}

.course-card span {
    user-select: none;
    /* font-size: 2vw; */
    /* font-size: 1.6vmin; */
}


/* popup */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65); 
    z-index: 5;
    backdrop-filter: blur(8px); 
}
.waitlist{
    width: 425px;
    height: 435px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}
.margin1{
    /* border: 1px solid black; */
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.cross{
    position: relative;
    left: 93%;
    cursor: pointer;
}
.margin2{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    gap: 15px;
}
.waitlistHeading{
    color: var(--secondary-color-2, #3C403D);
    text-align: center;
    font-family: "DM Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 114.286% */
    letter-spacing: -0.5px;
}
.waitlistText{
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: -0.5px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.inputSection{
    width: 280px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: margin 0.3s ease-in-out;
}

.inputSection input{
    border: none !important;
    /* color: var(--muted-color, #BDBDBD); */
    color: var(--input-text-color, #333);
    /* background: rgba(0, 0, 0, 0.05); */
    /* paragraph */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
    letter-spacing: 0.2px;
    background: none;
    height: 100% !important;
}

.inputSection.reduce-margin {
    margin-bottom: -5px; /* Reduced margin when error is shown */
}
.reduce-marginn{
    margin-top: -20px;
}
.margin2 button{
    display: flex;
    width: 280px;
    height: 40px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    color: var(--light-text-color, #FFF);
    /* btn-text */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 200% */
    letter-spacing: 0.2px;
    border: none;
    margin-top: 5px;
}
.error-message {
    color: #ff1e5a;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    /* margin-left: -54%; */
    /* margin-top: -20px; */
}

/* success popup */

.successpopup{
    width: 348px;
    height: 330px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Thanks{
    color: var(--secondary-color-2, #3C403D);
    text-align: center;
    font-family: "DM Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.5px;
}
.thanksText{
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
}
.margin3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    /* gap: 20px; */
}
.imae{
    width: 116px;
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* left: 37% */
    margin-top: 10px;
}
/* errormsg  popup*/
.errormsgcontainer{
    width: 429px;
    height: 278px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.margin4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}
.errorTop{
    color: var(--secondary-color-2, #3C403D);
    text-align: center;
    font-family: "DM Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 114.286% */
    letter-spacing: -0.5px;
}
.errorbottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.errorbottomText1{
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: -0.5px;
    padding-top: 10px;
   
}
.errorbottomText2{
    color: var(--main-blue, #2A7CC7);
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -10px;
}
@media only screen and (max-width: 480px) {
    .waitlist{
        width: 90%;
    }
    .successpopup{
        width: 90%;
    }
    .errormsgcontainer{
        width: 90%;
    }
}
/* @media only screen and (min-device-width: 360px)and (max-device-width: 360px){}
@media only screen and (min-device-width: 375px)and (max-device-width: 375px){}
@media only screen and (min-device-width: 390px)and (max-device-width: 393px){}
@media only screen and (min-device-width: 412px)and (max-device-width: 412px){}
@media only screen and (min-device-width: 414px)and (max-device-width: 414px){} */
@media only screen and (min-device-width: 428px)and (max-device-width: 430px){
    .countdownHeading{
        text-align: center;
        font-size: 42px;
    }
    .countdowntEXT{
        width: 87%;
    }
}

a{
    cursor: pointer;
}
main{
    max-width: 100% !important;
    overflow: hidden;
}
.container-course{
    margin-top: 30px;
    width: 1039px;
}
.container-course img{

width: 205px;
height: 160px;
top: 436px;
left: 693px;
padding: 16px 23px 14.41px 23px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;
}
.course-button{
    width: Fixed (210px)px;
height: Fixed (56px)px;
top: 655px;
margin-left: 50%;
padding: 8px 28px 8px 28px;
gap: 10px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;

}
.modal {
    display: none;
    position: fixed;

    z-index: 9999;
    left: 0;
    top: -30px;
    left: 0;
  
    width: 100%;
    height: 100%;
    overflow: auto;
   /* Black background with opacity */
  

  }
  .container-cors{

  }
  .modal.show {
    display: block;
  }
  .course-text
  {
    width: 395px;
height: 52px;
top: 141px;
left: 486px;
gap: 0px;
opacity: 0px;
font-family: DM Sans;
font-size: 40px;
font-weight: 600;
line-height: 52.08px;
text-align: center;
margin-left:40%
  }
  .enterprenurimg{
    margin-left:  105px;
  
  }
  .modal-content {
    width: 70%;
    height: 76%;
    max-height: 676px;
    position: fixed;
    top: 80px;
    left: 15%;
    
gap: 0px;

background: #07223C;
/* border-radius: 24px 0px 0px 0px; */
opacity: 0px;

  
  }
  
  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left:97%
  }
  .modalimg{
   
  }
  .modalbutton{
    margin-top: -22%;
    
    margin-left: 244%;
    
   
    width: 272px;
top: 1000px;
left: 665px;
padding: 8px 28px 8px 28px;
gap: 10px;
border-radius: 12px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}
.modalgobackbutton{
  margin-top: -112px;
  margin-left: 144%;
width:96%;
}
  
  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modaldetail
  {margin-left:2%

  }
  .modaldescription{
    width:98%;
    height: 224px;
    top: 776px;
    left: 40px;
    gap: 0px;
    font-size: 18px;
    opacity: 0px;
    
}


@media all and (min-width: 390px) and (max-width: 490px) { 

    .mobileFonts{
        font-size: 14px;
        line-height: 20px;
    }
    .video-container {
        /* margin-left: -6%; */
        margin-left: 0%;
        width: 100%;
    }


  /* Styles for iPhone X/XS/11 Pro */
  .container-course{
    margin-top: 30px;
    width: 441px;
    /* margin-left: 43px; */
}
.container-cors{
  margin-left:0%;
}
.container-course img{
  width: 185px;
  height: 115px;
}
.course-text{
  font-size: 30px;
  margin-left:-1%

}
.explcourse{
  width: 276px;

}
.course-button{
  margin-left:0%;
}
.enterprenurimg{
  margin-left:  0px;

}
.pmimg{
  margin-left:23%
}
.modal-content {
  width: 92%;
  height: 749px;
  max-height: max-content;
  position: fixed;
  top: 80px;
  left: 4%;
}
.close-btn{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 94%;
}
.modalgobackbutton{
  margin-top: 511px;
  margin-left: 3%;
  width: 74%;

}
.modalbutton{
  margin-top: -19%;
  margin-left: 51%;
  
 
 

}
.fontbutton{
  font-size: 12px;
}
.modaldescription{
  font-size: 14px;
}
.mds{
  width: 98%;
  height: 84%;
}
}
@media (min-width: 390px) {
 
    .video-container {
       
        width: 100%;
        margin-left: 0%;
    }
}
.container-cors{
margin-left:-5%;
}





@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: portrait) {
 

.course-text{
  font-size: 30px;
  margin-left:-1%

}
.container-course img {
  width: 151px;


}
.container-course  {
  margin-top: 30px;
  width: 139%;
}}
.course-card .course-image-placeholder{
    font-size: 15px;
    margin-top: 21px;
    
}
.course-card span {
    
    font-size: 16px;
}

   