a {
    cursor: pointer;
}

main {
    max-width: 100% !important;
    overflow: hidden;
}

#video_hero {
    display: none;
}

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 60px;
    padding-left: 135px;
    padding-right: 135px;
    /* background-color: #183152; */
    /* background-color: #0E233D; */
    /* border-radius: 18px; */
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 134px;
}

.right-avatar {
    max-width: 600px;
}

.right-avatar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.right-avatar img {
    border-radius: 180px;
}

.right-avatar-button {
    background-color: #427BC1;
    border: none;
    color: #fff;
    margin-bottom: 20px;
}


@media (min-width: 1282px)  {
    .left-header {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 1281px)  {
    .hero-text {
        font-size: 64px;
    }
}

@media (max-width: 1025px)  {
    .hero-text {
        font-size: 56px;
    }

    .courses-cards-container{
        padding: 0 2em;
    }

    .info-section {
        padding-left: 45px;
        padding-right: 45px;
    }
    

}

@media (max-width: 801px)  { 
    .hero-banner {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0px;
        padding-right: 0px;
    }

    .hero-text {
        font-size: 48px;
    }

    .left-header {
        padding-left: 40px;
        padding-right: 40px;
    }

    .right-avatar img {
        border-radius: 80px;
    }
}

.countdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    /* width: 80%; */
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 40px;
    background-color: #0E233D;
}

.countdowntEXT{
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.countDownday{
    /* border: 1px solid black; */
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.day{
    width: 130px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 11.059px;
    border: 0.922px solid #2A7CC7;
    background: rgba(255, 255, 255, 0.04);
}

@media (max-width: 801px)  { 
    .day{
        max-width: 90px;
        width: 68px;
        height: 100px;
    }
    .countdowntEXT{
        font-size: 15px;
    }
    .countdown{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        /* width: 80%; */
        padding-left:0px;
        padding-right: 0px; 
        padding-bottom: 40px;
        background-color: #0E233D;
    }
    .countdownHeading{
        text-align: center;
        font-size: 48px;
    }
    .dayNumber{
        font-size: 40px !important;
    }
    .dayText{
        font-size: 14px !important;
    }
    .dot{
        width: 7px !important;
        height: 7px !important;
    }
    .QuestionText{
        font-size: 20px !important;
    }
}

.seperator{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
}
.dot{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}
.dayNumber{
    color: #FFF;
    text-align: center;
    font-family: Impact;
    font-size: 82.946px;
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
    letter-spacing: 1px;
    /* line-height: normal; */
}
.dayText{
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16.589px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -5px;
}
.QuestionText{
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
}
.countdown button{
    margin-top: 10px;
    display: flex;
    width: 210px;
    height: 56px;
    padding: 8px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: var(--Primary-White, #FFF);
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 88.889% */
    letter-spacing: 0.2px;
    border: none;
}
.signUptext{
    margin-top: 15px;
    color: var(--light-text-color, #FFF);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.offMsg{
    color: var(--disabled-element-color, #8EC2F2);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -6px;
    text-align: center;
}


/* PRICING SECTION */
.pricing-section {
    background: linear-gradient(to bottom, #081524, #0E233D);
    text-align: center;
    padding: 64px 0px 114px 0px;
}

.pricing-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.pricing-card {
    background-color: #183152;
    height: 560px;
    width: 380px;
    border-radius: 12px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.silver {
    /* background: linear-gradient(135deg, #414141, #737373); */
    background-color:var(--incomplete-question, rgba(42, 124, 199, 0.10));
}

.gold {
    /* background: linear-gradient(135deg, #796610, #6c6130); */
    /* background: linear-gradient(135deg, #796610, #6e5f1b); */
    background-color:var(--incomplete-question, rgba(42, 124, 199, 0.10));
}

.unlimited {
    /* background-color: #000; */
    /* border-image: linear-gradient(45deg, #EB5CBD, #2B74F6 100%) 1; */
    /* background: linear-gradient(90deg, #121212, #242424); */
    background-color:var(--incomplete-question, rgba(42, 124, 199, 0.10));
}


.pricing-card-title {
    display: flex;
    justify-content: space-between;
}

.pricing-card-title-left {
    text-align: left;
}

.pricing-number {
    font-size: 26px;
    font-weight: bold;
}

.pricing-button {
    background-color: #427BC1;
    border: none;
    color: #fff;
}

.pricing-card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pricing-card-description-list-items {
    text-align: left;
}


/* COURSES SECTIONS */

.courses-section {
    /* background: linear-gradient(to bottom, #081524, #0E233D); */
    background-color: #0E233D;
    text-align: center;
    padding: 64px 0px 114px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.courses-cards-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    margin-top: 30px;
    max-width: fit-content;
    margin-bottom: 60px;
}

.courses-cards-container a img {
    transition: transform 0.3s ease-in-out;
}
  
.courses-cards-container a img:hover {
    transform: scale(1.1); /* Adjust the scale value to control the zoom level */
}



/* popup */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65); 
    z-index: 5;
    backdrop-filter: blur(8px); 
}
.waitlist{
    width: 425px;
    height: 435px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}
.margin1{
    /* border: 1px solid black; */
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.cross{
    position: relative;
    left: 93%;
    cursor: pointer;
}
.margin2{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    gap: 15px;
}
.waitlistHeading{
    color: var(--secondary-color-2, #3C403D);
    text-align: center;
    font-family: "DM Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 114.286% */
    letter-spacing: -0.5px;
}
.waitlistText{
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: -0.5px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.inputSection{
    width: 280px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: margin 0.3s ease-in-out;
}

.inputSection input{
    border: none;
    /* color: var(--muted-color, #BDBDBD); */
    color: var(--input-text-color, #333);
    /* background: rgba(0, 0, 0, 0.05); */
    /* paragraph */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
    letter-spacing: 0.2px;
    background: none;
    height: 100% !important;
}

.inputSection.reduce-margin {
    margin-bottom: -5px; /* Reduced margin when error is shown */
}
.reduce-marginn{
    margin-top: -20px;
}
.margin2 button{
    display: flex;
    width: 280px;
    height: 40px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    color: var(--light-text-color, #FFF);
    /* btn-text */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 200% */
    letter-spacing: 0.2px;
    border: none;
    margin-top: 5px;
}
.error-message {
    color: #ff1e5a;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    /* margin-left: -54%; */
    /* margin-top: -20px; */
}

/* success popup */

.successpopup{
    width: 348px;
    height: 330px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Thanks{
    color: var(--secondary-color-2, #3C403D);
    text-align: center;
    font-family: "DM Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.5px;
}
.thanksText{
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
}
.margin3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    /* gap: 20px; */
}
.imae{
    width: 116px;
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* left: 37% */
    margin-top: 10px;
}
@media only screen and (max-width: 480px) {
    .waitlist{
        width: 90%;
    }
    .successpopup{
        width: 90%;
    }
}
@media only screen and (min-device-width: 360px)and (max-device-width: 360px){

}
@media only screen and (min-device-width: 375px)and (max-device-width: 375px){
 
}
@media only screen and (min-device-width: 390px)and (max-device-width: 393px){
  
}
@media only screen and (min-device-width: 412px)and (max-device-width: 412px){}
@media only screen and (min-device-width: 414px)and (max-device-width: 414px){}
@media only screen and (min-device-width: 428px)and (max-device-width: 430px){
    .countdownHeading{
        text-align: center;
        font-size: 42px;
    }
    .countdowntEXT{
        width: 87%;
    }
}
