/* @font-face { 
  font-family: 'DM Sans'; 
  src: local('DM Sans'), url('./fonts/DMSans-VariableFont.ttf') format('truetype'); 
} */

@font-face {
  font-family: 'DM Sans'; 
  src: local('DM Sans'), url('./fonts/DMSans-Bold.ttf') format('truetype'); 
  font-weight: bold;
  font-size: normal;
}

@font-face {
  font-family: 'DM Sans'; 
  src: local('DM Sans'), url('./fonts/DMSans-SemiBold.ttf') format('truetype'); 
  font-weight: 600;
  font-size: normal;
}

@font-face {
  font-family: 'DM Sans'; 
  src: local('DM Sans'), url('./fonts/DMSans-Medium.ttf') format('truetype'); 
  font-weight: medium;
  font-size: normal;
}

@font-face {
  font-family: 'DM Sans'; 
  src: local('DM Sans'), url('./fonts/DMSans-Regular.ttf') format('truetype'); 
  font-weight: 400;
  font-size: normal;
}

@font-face {
  font-family: 'DM Sans'; 
  src: local('DM Sans'), url('./fonts/DMSans-Light.ttf') format('truetype'); 
  font-weight: light;
  font-size: normal;
}

.tabs-container > .tab, .tab-content > .infoText, .tab-content > h3 {
  color: black;
}

.math-main-container {
  display: flex;
  font-family: 'DM Sans', Helvetica, serif;
  background-color: #DCDAD6;
  touch-action: manipulation; /* Disable double tap to zoom, https://stackoverflow.com/questions/10614481/disable-double-tap-zoom-option-in-browser-on-touch-devices */
}

.left-container {
  background-color: #DCDAD6;
  margin-right: 4px;
}

.right-container {
  /* background-color: teal; */
  max-width: 49vw;
  height: 84.5vh; /* NEED THIS FOR FIXED SCROLLING */
  margin-left: 4px;
}

.draw-area {
  background-color: #DCDAD6;
}

canvas {
  /* border: 1px solid blue; */
  background-color: #f6f6f6;
  /* background-color: orange; */
  cursor: crosshair;
}

.d-flex-gap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-row {
  padding: 8px;
}

.blue-button {
  display: flex;
  justify-content: center;
  user-select: none;
  align-items: center;
  background-color: #2A7CC7;
  color: white;
  height: 40px;
  width: 70px;
  max-width: 100px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  user-select: none;
  -webkit-user-select: none; /* Safari fallback only */
  -webkit-touch-callout: none; /* iOS Safari */
}

.blue-icon-square-button img {
  width: 32px;
}

.blue-icon-square-button {
  width: 40px;
}

.blue-button:active {
  background-color: #2165A4;
}

.clear-button {
  background-color: #9A9A9A;  
}

input[type="file"] {
  display: none;
}

.upload-button-label {
  border: 1px solid #ccc;
  display: block;
  padding: 6px 12px;
  cursor: pointer;
}

.uploaded-image {
  position: absolute;
  top: 0;
  left: 0;
}

.tabs-container {
  background-color: #F6F6F6;
  margin-right: 5px;
  user-select: none;
  display: flex;
  gap: 2px;
  height: fit-content;
  width: fit-content;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #c3c3c3;
  font-weight: 600;
  user-select: none;
  -webkit-user-select: none; /* Safari fallback only */
  -webkit-touch-callout: none; /* iOS Safari */
  cursor: default;
}

.tab.active {
  background-color: #E5E5E5;
}

.tab-content {
  display: none;
  border: 1px solid #ccc;
  padding: 10px 60px;
  height: 100%;
  overflow-y: scroll;
  background-color: lightblue;
  background-color: #f6f6f6;
  position: relative;
  /* width: 100%; */
}

.tab-content.active {
  display: block;
}

.tab-content p {
  font-weight: 400;
}

.infoText {
  /* white-space: pre-wrap; */
  white-space: pre-line;
  width: 37vw;
}

.chatbox-offset-div {
  height: 70px;
}

.chat-input-container {
  display: none;
}

.chat-input-container.active {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.chat-input-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;

  position: absolute;
  bottom: 1.7vh;
  /* bottom: 0; */
  /* right: 0; */
  margin-left: 5px;
  width: 46.5%;
  height: 80px;
  background-color: #f6f6f6;
  /* background-color: red; */
  padding: 16px 8px;
  border-radius: 4px;
}

.chat-input {
  width: 70%;
  padding: 6px;
}

.userMessageContainerDiv {
  display: flex;
  justify-content: flex-end;
}

.userChatMessage {
  background-color: #2A7CC7;
  color: white;
  padding: 6px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: max-content;
  position: relative;
  right: 0;
  margin: 0;
}

.responseChatMessage {
  background-color: #E6E5EB;
  padding: 6px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.top-buttons-row {
  position: relative;
}

.loading-element {
  /* background-color: lightslategrey; */
  /* border-radius: 7%; */
  position: absolute;
  top: 0;
  left: 10;
  height: 100%;
  display: none;
}



@media (max-width: 980px) {
  * {
    font-size: 1em;
  }

  .blue-button {
    font-size: 0.8em;
    font-weight: 600;
    height: 26px;
    width: 46px;
  }

  .blue-icon-square-button {
    width: 30px;
  }

  .blue-icon-square-button img {
    width: 16px;
  }

  .tab {
    height: 26px;
    width: 64px;
    font-size: 0.8em;
  }

  .tab-content {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-height: 450px) {
  .right-container {
    height: 78vh; /* NEED THIS FOR FIXED SCROLLING */
  }

  .buttons-row {
    padding: 0px;
  }

  .chat-input-flexbox {
    padding: 0px;
    height: 70px;
  }

  .chat-input {
    width: 70%;
    padding: 2px;
    font-size: 0.9em;
  }
  
}

