.elementor-22077 .elementor-element.elementor-element-0e5ec5e {
    --display: flex;
    --background-transition: 0.3s;
    --margin-block-start: 6rem;
    --margin-block-end: 0rem;
    --margin-inline-start: 0rem;
    --margin-inline-end: 0rem
}

.elementor-22077 .elementor-element.elementor-element-6a3ae7d img {
    border-radius: .5rem .5rem .5rem .5rem
}

:root {
    --page-title-display: none
}